.header{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;

    &--flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--img{
        width: 100px;
    }

    &__list{
        display: flex;
        &--link{
            &:not(:last-child){
                margin-right: 90px;
            }
        }
    }

    &__lists{
        display: flex;
        &--link{
            &:not(:last-child){
                margin-right: 50px;
            }
        }
    }
}